
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
<H3>Message rendered in Velocity: <br/>
<u>$message<u></H3>
<u>$name</u></H3>
<u>$age</u></H3>
<img src="${yuri}"/>
#foreach($element in $listtest)
	$velocityCount
	$element.get("material"),
	$element.get("dosage")
	<br>
#end  


</body>
</html>