<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>秀厨_菜谱浏览</title>
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="http://graduation-design.github.io/cooking/dist/styles/main.css
">
  <!-- endbuild-->

  <!-- build:css styles/cookbook.css -->
  <link rel="stylesheet" href="http://graduation-design.github.io/cooking/dist/styles/cookbook.css
">
  <!-- endbuild-->

  <!-- build:js bower_components/webcomponentsjs/webcomponents.min.js -->
  <script src="http://graduation-design.github.io/cooking/dist/bower_components/webcomponentsjs/webcomponents.min.js
"></script>
  <!-- endbuild -->

  <!-- will be replaced with elements/elements.vulcanized.html -->
  <link rel="import" href="http://graduation-design.github.io/cooking/dist/elements/elements.vulcanized.html">
  <!-- endreplace-->
</head>

<body unresolved>
<template is="auto-binding" id="cookbook">
<form is="ajax-form" action="upload2.action" method="post" enctype="multipart/form-data">
  <!-- <input type="text" name="uploadtext" value="23452345"> -->
  <file-input name="upload" style="display:block;width:100px;height:100px;background:#000"/>
  <input type="submit" value="76986986" style="margin-top:200px;">
</form>
</template>

<!-- build:js scripts/app.js -->
<script src="http://graduation-design.github.io/cooking/dist/scripts/cookbook.js"></script>
<!-- endbuild-->
</body>

</html>